.github/actions/ @codethinki
.github/workflows/ @codethinki
ci/docker/ @codethinki

CITATION @codethinki
LICENSE @codethinki
FLASHLIGHT_LICENSE @codethinki

.clang_tidy @codethinki
uncrustify.cfg @codethinki

