name: Build & Test

on:
  push:
    branches: ["master", "_master/add_ci"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  # ----------------------------------------------------------------
  # Linux Build & Test
  # ----------------------------------------------------------------
  linux:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: gcc-cpu
            compiler: gcc
            backend: cpu
            run_tests: true
          - name: gcc-cuda
            compiler: gcc
            backend: cuda
            run_tests: false
    
    # call linux pipeline
    uses: ./.github/workflows/linux-pipeline.yml
    with:
      compiler: ${{ matrix.compiler }}
      backend: ${{ matrix.backend }}
      run_tests: ${{ matrix.run_tests }}
    secrets: inherit

  # ----------------------------------------------------------------
  # 3. Build & Test
  # ----------------------------------------------------------------
  windows:
    name: Windows (${{ matrix.name }})
    runs-on: windows-latest
    defaults:
      run:
        shell: bash # Forces Git Bash
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: msvc-cpu
            backend: cpu
            run_tests: true
          - name: msvc-cuda
            backend: cuda
            run_tests: false

    uses: ./.github/workflows/windows-pipeline.yml
    with:
      compiler: msvc
      backend: ${{ matrix.backend }}
      run_tests: ${{ matrix.run_tests }}
    secrets: inherit