name: Build & Test

on:
  push: { branches: ["master", "_master/add_ci"] }
  pull_request: { branches: ["master"] }

permissions: { contents: read, packages: write }

jobs:
  linux:
    name: Linux (${{ matrix.compiler }}, ${{ matrix.backend }})
    strategy:
      fail-fast: false
      matrix:
        compiler: [gcc]
        backend: [cpu, cuda]
    
    uses: ./.github/workflows/linux-pipeline.yml
    with:
      compiler: ${{ matrix.compiler }}
      backend: ${{ matrix.backend }}
      # run_tests is true only if backend is cpu
      run_tests: ${{ matrix.backend == 'cpu' }}
    secrets: inherit

  windows:
    name: Windows (${{ matrix.compiler }}, ${{ matrix.backend }})
    strategy:
      fail-fast: false
      matrix:
        compiler: [msvc]
        backend: [cpu, cuda]

    uses: ./.github/workflows/windows-pipeline.yml
    with:
      compiler: ${{ matrix.compiler }}
      backend: ${{ matrix.backend }}
      run_tests: ${{ matrix.backend == 'cpu' }}
    secrets: inherit