name: Clang Format

on: [push, pull_request]

permissions: { contents: read }
jobs:
  formatting-check:
    name: Format check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Run clang-format style check
      uses: jidicula/clang-format-action@v4.2.0
      with:
        clang-format-version: '19'
        check-path: 'flashlight'
