name: Clang Format

on:
  push: { branches: ["master", "_master/add_ci"] }
  pull_request: { branches: ["master"] }

permissions: { contents: read }

# ---------------------------------------------------------
# CONFIG
# ---------------------------------------------------------
env:
  CLANG_FORMAT_VERSION: "21.1.0"
  CHECK_PATH: "flashlight"
  FILE_EXTENSIONS: "c|cpp|h|hpp|cu"
  FILES_PER_THREAD: "40"



# ---------------------------------------------------------
# JOB
# ---------------------------------------------------------
jobs:
  formatting-check:
    name: Format check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install clang-format
      run: pipx install clang-format==${{ env.CLANG_FORMAT_VERSION }}
      
    - name: Run clang-format style check
      run: |
        find ${{ env.CHECK_PATH }} \
          -type f \
          -regextype posix-extended \
          -regex ".*\.(${{ env.FILE_EXTENSIONS }})$" \
          | xargs -r -P $(nproc) -n ${{ env.FILES_PER_THREAD }} clang-format --style=file --dry-run --Werror