name: Uncrustify Format

on:
  push: { branches: ["master", "_master/add_ci"] }
  pull_request: { branches: ["master"] }

permissions: { contents: read }

# ---------------------------------------------------------
# CONFIG
# ---------------------------------------------------------
env:
  UNCRUSTIFY_CONFIG: "uncrustify.cfg"
  CHECK_PATH: "flashlight"
  FILE_EXTENSIONS: "c|cpp|h|hpp|cu|cuh"

# ---------------------------------------------------------
# JOB
# ---------------------------------------------------------
jobs:
  formatting-check:
    name: Format check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install uncrustify
      run: |
        sudo apt-get update
        sudo apt-get install -y uncrustify
      
    - name: Run uncrustify style check
      run: |
        find ${{ env.CHECK_PATH }} \
          -type f \
          -regextype posix-extended \
          -regex ".*\.(${{ env.FILE_EXTENSIONS }})$" \
          | uncrustify -q -c ${{ env.UNCRUSTIFY_CONFIG }} --check -F -